.el-container {
  height: 100%;
  .el-main {
    float: left;
    background-color: #B3C0D1;
    .main-top {
      padding: 10px 10px 0 10px;
      background: white;
      position: relative;
      height: 60px;
      border-bottom: none;
      box-shadow: 0 -2px 0 0 #00aaef inset;
      .main-top-left {
        display:inline;
        span {
          font-size: 20px;
          font-family: 仿宋;
        }
      }
      .main-top-right {
        float: right;
        display:inline;
      }
    }
    .main-buttom {
      background-color: white;
      height: 400px;
      padding: 20px;
    }
    .main-foot {
      background-color: white;
      margin: 10px 0 0 0;
    }
  }
  .el-header {
    background-color: white;
    color: #333;
    text-align: center;
    line-height: 60px;
    .header-left {
      float: left;
    }
    .header-right {
      height: 60px;
      float:right;
        .el-icon-search {
          width: 30px;
          height: 30px;
        }
        .el-input {
          width: auto;
        }
        .el-icon-bell {
          margin-left: 10px;
        }
        .el-icon-more {
          margin-left: 10px;
        }
    }
  }
}
